<aside
  class="fixed z-[60] h-full w-full md:w-72 bg-white shadow-2xl transition-transform duration-300 ease-in-out"
  [class.-translate-x-full]="!sidebarService.sideBarOpen()"
>
  <app-sidebar class="h-[100dvh]"></app-sidebar>
</aside>

<header
  class="fixed top-0 w-full h-13 z-50 bg-white transition-transform duration-300"
  [class.-translate-y-full]="hidden"
>
  <app-header></app-header>
</header>

<main class="h-[100dvh] pt-13 box-border bg-gray-100">
  <router-outlet></router-outlet>
</main>
