.chat-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.custom-scroll {
  overflow-x: hidden;
}


.break-words {
  word-wrap: break-word;
  word-break: break-word;
}

.emojiFonts {
  font-family: "Inter", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji",
    "Twemoji Mozilla", "Noto Color Emoji", "Android Emoji" !important;
}