<ng-container *transloco="let t">
  <h2 mat-dialog-title>{{ t("auth.confirm_logout") }}</h2>
  <mat-dialog-content>
    <p>{{ t("auth.confirm_logout_second") }}</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" class="cursor-pointer">
      {{ t("common.cancel") }}
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="onConfirm()"
      class="cursor-pointer"
    >
      {{ t("auth.logout") }}
    </button>
  </mat-dialog-actions>
</ng-container>
