<div class="relative inline-block text-left z-50">
  <button
    type="button"
    (click)="toggle()"
    class="flex items-center gap-1 text-primary font-mono font-semibold hover:text-success transition-colors cursor-pointer focus:outline-none select-none"
  >
    @if (selected()) {
      <span class="flex items-center gap-1">
        @if (icon != null) {
          <mat-icon>{{ icon() }}</mat-icon>
        }
        <span>{{ selected()?.label }}</span>
      </span>
    } @else {
      <span class="text-gray-500">{{ placeholder() }}</span>
    }
    <mat-icon
      [class.rotate-180]="isOpen()"
      class="w-3 h-3 transition-transform duration-200"
      >keyboard_arrow_down</mat-icon
    >
  </button>

  @if (isOpen()) {
    <div
      class="fixed inset-0 z-40 cursor-default"
      (click)="isOpen.set(false)"
    ></div>

    <div
      class="absolute right-0 mt-1 w-auto min-w-[120px] bg-white rounded-lg shadow-xl border border-gray-300 overflow-hidden z-50 animate-in fade-in zoom-in-95 duration-100"
    >
      <div class="flex flex-col">
        @for (item of items(); track item.value) {
          <button
            (click)="select(item)"
            class="flex items-center gap-3 w-full text-left px-4 py-2 text-sm font-mono font-semibold transition-all duration-200"
            [class.bg-mint]="selected()?.value === item.value"
            [class.text-black]="selected()?.value === item.value"
            class="hover:text-gray-500 cursor-pointer"
          >
            <span>{{ item.label }}</span>
          </button>
        }
      </div>
    </div>
  }
</div>
